# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\programmer\projects\spring-dubbo-debug-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
